@import './variables.scss';

@mixin inter-font {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}


img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}

#card-slider {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.card-slider-move-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.press-media-list {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.press-media-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: 146px 1fr;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 387px;
  max-width: 387px;
  height: 100%;
  display: grid;
}


.press-media-logo-wrapper {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.press-media-body {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding: 24px;
  display: grid;
}


.press-media-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.paragraph-45, .press-media-intro {
  color: var(--gray-400);
}