@import './variables.scss';

@mixin inter-font {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#hire_us-form-container {
  .legal-consent-container {
    
    p {
      @include inter-font;
      color: var(--color-black);

      a {
        color: var(--color-black);
        font-weight: 600;
      }
    }
  }
}

.hs-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;

  fieldset, 
  .hs-dependent-field,
  fieldset.form-columns-1,
  fieldset.form-columns-2 {
    display: flex;
    width: 100%;
    max-width: none;
    
    &.form-columns-2 {
      column-gap: 40px;
    }
  }

  fieldset.form-columns-2 {
    flex-direction: column;
    row-gap: 24px;

    .hs-form-field {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    fieldset.form-columns-2 {
      flex-direction: row;
      row-gap: 0px;
    }
  }

  select {
    height: 52px;
  }

  input, textarea {
    box-sizing: border-box;
  }

  fieldset .input {
    margin: 0;
    margin-right: 0 !important;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-end;
  }
}

.hs-form,
.hs-input {
  @include inter-font;
}

.hs-form-field label {
  font-weight: 500;
}

.hs-form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;

  &:disabled {
    background-color: var(--color-field-border-disabled);
    cursor: not-allowed;

    label {
      color: var(--color-field-label-disabled);
    }
  }
}

.hs-input {
  @include inter-font;
  border: 1px solid var(--color-field-border);
  padding: 15px;
  border-radius: 4px;
  background-color: white;
  width: 100% !important;
  
  &::placeholder {
    color: var(--color-field-placeholder);
  }

  &:focus-visible {
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
  }

  &.error {
    border-color: var(--color-field-error);
  }

  &.hs-fieldtype-textarea {
    height: 110px;
  }
}

.hs-error-msgs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-field-error);
}

.inputs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;

  .multi-container, .hs_send_me_an_nda, .hs_call_me_asap {
    padding: 0;
    margin: 0;
  }

  li {
    .hs-form-checkbox-display {
      display: flex;
    }
  }
}

.hs-form-checkbox {
  display: block;

  .hs-input:checked + span {
    background-color: var(--color-toggle);
    color: var(--color-white);
    border-color: var(--color-toggle);
  }

  span {
    display: block;
    cursor: pointer;
    padding: 4px 16px;
    color: var(--color-toggle);
    border: 1px solid var(--color-toggle-border);
    border-radius: 24px;
    font-weight: 400;
  }

  .hs-input {
    width: 0 !important;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.hs-form-booleancheckbox-display {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
  align-items: center;

  .hs-input {
    width: 24px !important;
    height: 24px !important;
    appearance: none;
    background-color: white;
    margin: 0;
    border: 1px solid var(--color-checkbox-mark);
    border-radius: 4px;
    display: grid;
    place-content: center;
    padding: 0;

    &::before {
      content: '';
      width: 5px;
      height: 13px;
      border: solid var(--color-checkbox-mark);
      border-width: 0 3px 3px 0;
      transform: rotate(45deg) scale(0);
      transition: 120ms transform ease-in-out;
      margin-bottom: 4px;
    }
    
    &:checked::before {
      transform: rotate(45deg) scale(1);
    }
  
    span {
      font-weight: 400;
    }
  }
}

input[type='submit'] {
  background-color: var(--color-brand);
  height: 52px;
  width: 127px;
  border: none;
  border-radius: 52px;
  cursor: pointer;
  font-weight: 500;
  color: var(--color-white);
}

.hs_my_budget_is_100_000_or_more input {
  width: 0 !important;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

.hs_recaptcha {
  display: none;
}

.slider {
  .label em {
    color: var(--color-brand);
    text-decoration: none;
    font-style: normal;
    margin-inline: 4px;
  }
}
