:root {
  --slider-puller-size: 12px;
  --slider-track-height: 2px;
  --slider-puller-focus-border-width: 1px;
  --slider-puller-focus-border-color: #333333;
  --slider-track-border-radius: 0px;
  --slider-track-border-width: 0px;
  --slider-track-border-color: #ccc;
  --slider-track-inactive-path-color: #d9d9d9;
  --slider-track-active-path-color: #333333;
  --slider-puller-background-color: #333333;
  --slider-puller-shadow: none;
  --slider-puller-hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --slider-marks-font-color: #777777;
  --slider-marks-font-size: 14px;
  --slider-marks-font-weight: 400;
  --slider-marks-font-family: Inter;
  --slider-marks-font-line-height: 20px;
  --slider-marks-margin-top: 8px;
  --slider-mark-container-width: 100px;
}
