:root {
  --gray-50: #f6f6f6;
  --gray-400: #777777;
  --light-gray: #e6e6e6;
  --darker-gray: #333333;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-brand: var(--stx-next, #00b2a9);
}
